<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <p>Click the link below to reset your password:</p>
    <a href="http://localhost:3000/auth/forgot-password/{{token}}/{{email}}/{{password}}">Reset Password</a>
</body>
</html>
