<div style="width: {{ size }}" ><canvas id="statistics"></canvas></div>

{{! prettier-ignore }}
{{#content "script"}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {{{ data }}};
        const name = "{{ name }}";
        (async function() { 
            new Chart(document.getElementById("statistics"), {
            type: 'bar',
            data: {
                labels: data.map((item) => item.name),
                datasets: [{
                    label: name,
                    data: data.map((item) => item.total),                       
                }]
            },
        })})();
    </script>
{{/content}}